// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

//Theme
@import "./paper-kit.scss";

//Pages
@import "./Pages/landing_page.scss";
@import "./Pages/error_page.scss";
@import "./Pages/profile_page.scss";
@import "./Pages/survey_page.scss";
@import "./Pages/listing_page.scss";
@import "./Pages/testing_page.scss";

//Components
@import './Components/ReactTabs.scss';
@import './Components/footer.scss';
@import './Components/task_card.scss';
@import './Components/maps.scss';