.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron{
    color: #fff;
    /*background-color:none !important;*/
    background-image: url("../Images/mowingLawnFlipped.png");
    background-position: 0% 60%;
    background-size: cover;
    min-height: 425px;
}

#myAlert-bottom{
    position: fixed;
    bottom: 5px;
    width: 50%;
}