// listing_page.scss for ListingPage.tsx
#centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

#right{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#smallMedia{
  height: 80px;
  width: 80px;
  padding-right: 30px;
  box-sizing: border-box;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}