.flex-col-scroll {
    flex-grow: 1;
    // overflow: auto;
    min-height: 100%;
    height: 800;
    position: absolute;
    overflow-y: scroll;
  }
  
.col-scroll {
    overflow-y:auto;
    height: 800px;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}