.centeredFoot{
  display: flex;
  // text-align: center;
  justify-content: center;
  align-items: center;
}

#right{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* unvisited link & visited link */
.footer {
  //padding: 10px;
  background: #D9D9D9;
  background: -webkit-linear-gradient(#DDDDDD, #cecece);
  background:    -moz-linear-gradient(#DDDDDD, #cecece);
  background:         linear-gradient(#DDDDDD, #cecece);
  /*
  position: absolute;
  bottom: 0;
   */

  a:link, a:visited {
    color: black;
  }

  /* mouse over link & selected link*/
  a:hover, a:active {
    //color: hotpink;
    text-decoration: underline;
  }
}