.react-tabs {
    -webkit-tap-highlight-color: transparent;
  
    &__tab-list {
      border-bottom: 1px solid #fff;
      margin: 0 0 10px;
      padding: 0;
    }
  
    &__tab {
      display: inline-block;
      border: 1px solid transparent;
      border-bottom: none;
      bottom: -1px;
      position: relative;
      list-style: none;
      padding: 6px 12px;
      cursor: pointer;
  
      &--selected {
        background: #fff;
        border-color: #aaa;
        color: rgb(143, 52, 52);
        border-radius: 5px 5px 0 0;
      }
  
      &--disabled {
        color: GrayText;
        cursor: default;
      }
  
      &:focus {
        box-shadow: 0 0 5px hsl(208, 99%, 50%);
        border-color: hsl(208, 99%, 50%);
        outline: none;
  
        &:after {
          content: "";
          position: absolute;
          height: 5px;
          left: -4px;
          right: -4px;
          bottom: -5px;
          background: #fff;
        }
      }
    }
  
    &__tab-panel {
      display: none;
  
      &--selected {
        display: block;
      }
    }
  }
  
.drop {
  font-weight: bolder;
  text-shadow: rgb(70, 70, 70) 1px 0 10px;
}

.error {
  color: $danger-color;
  font-weight: bold;
  font-size: medium;
  //text-shadow: rgb(75, 75, 75) 1px 0 10px;
}

.success {
  color: $success;
  font-weight: bolder;
  font-size: medium;
  //text-shadow: rgb(75, 75, 75) 1px 0 10px;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(136, 136, 136) rgba(196, 196, 196, 0.11);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(196, 196, 196, 0.11);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(136, 136,136);
  border-radius: 20px;
  border: 3px solid rgba(196, 196, 196, 0.11);
}